body{
    background-color: beige;
}
h1{
    color:gold;
    text-align: center;
    font-weight: 900;
    background-color: cornflowerblue;
}
h2{
    text-align: left;
}
input{
    padding: 5px 4px;
    border:5px thin blue;
}

.creator {
    display: block;
    margin: 0 auto;
    text-align: center;

}
.precipitation{
    font-weight: 900;
}
.col:hover{
    background-color: darksalmon;
}